/* You can add global styles to this file, and also import other style files */
body{
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: rgb(230, 228, 245);
    color: rgb(99, 98, 98);
}
